@import '../../App.scss';

.portfolio-page {
  height: 100%;
  overflow: auto;

  h1.page-title {
    margin-left: 100px;
    margin-top: 100px;
  }

  .images-container {
    display: flex;
    flex-direction: column; // Change to column to stack projects vertically
    gap: 15px;
    padding: 18px;
  }

  .project-card {
    display: flex;
    flex-direction: column; // Stack elements vertically within each project card
    align-items: center; // Center align items
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    background-color: lightgrey;

    .project-title {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .project-description {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .project-image {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin-bottom: 20px;
      border-radius: 10px;
    }

    .button {
      padding: 10px 20px;
      background-color: var(--primary-color);
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700;
      transition: background-color 0.3s ease;
      margin-bottom: 20px;

      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .images-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .portfolio-page {
    padding: 20px;
    box-sizing: border-box;

    h1.page-title {
      font-size: 40px;
      margin-left: 20px;
      margin-top: 20px;
    }
  }
}
